:root{
    --main-color: white;
    --btn-color:   white;
    --text-color: black;
    --Ptext-color: rgba(29, 44, 44, 0.697);
}
body{
    background-color: var(--main-color);
    color: var(--main-color)
}


.navbar{
    display: flex;
    justify-content: space-between;
    
   
   
}
.mode{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
.nav-right{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
.user{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.menu{
    width: 25px;
    width: 25px;
    margin-left: 10px;
}
.s-btn{
    background-color: var(--btn-color);
  margin-left: 10px;
   border: none;
    margin-bottom: 20px;
}

.search{  
    display: flex;
    width: 300px;
    margin-top: 2px;
  
}
.s-input{
    border-radius: 40px;
    width: 200px;
    height: 35px;
    text-align: center;
    border: 1px solid gray;

 
}
.profile{
    border: 1px solid black;
    margin-right: 10px;
    width: 90px;
    height: 20px;
    border-radius: 30px;
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-right: 2px;
}
.welcome-bg{

border: 1px solid red;
margin: 10px auto;
width: 80%;
height: 70vh;
background-repeat: no-repeat;
object-fit: cover;
background-size: cover;
background-position: center;
background-image: url("./public/bg.jpg");
filter: blur(3px);
border-radius: 20px;
}
.welcome{
    position: relative;
   
}
.welcome-text{
    position: absolute;
    top: 50px;
  left: 390px;
 
 
  font-weight: 600;
}
.quote{
    margin-top: 60px;
    text-align: center;
    font-size: 25px;
    color:aquamarine;
    font-family: cursive;
}
h1{
    font-size: 60px;
    font-variant: small-caps;
    color: rgba(252, 190, 5, 0.929);
   

}
.heading{
    text-align: center;
    color:rgba(11, 200, 8, 0.782)

}
.Q-container{
    
    width: 70%;
    margin: 20px auto;
    background-color: rgba(77, 79, 149, 0.568);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    gap: 10px;
}
.category{
    
    padding: 10px;
   
}
.topicBox-D{
    border: 1px solid black;
    background-color: rgba(57, 239, 215, 0.773);
    border-radius: 10px;
    padding: 5px 10px;
    background-color: 0rgba(91, 139, 141, 0.578);
    cursor: pointer;

}

.subcategoryText{
    color: var(--text-color);
    text-decoration: none;
}


.active{
    display: none;
}
.span-D{
    display: flex;
    gap: 25px;
}
.questionBox-D{
    border: 1px solid rgba(22, 18, 18, 0.605);
    border-radius: 6px;
    flex-direction: row;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    justify-content: space-between;
}
.sideText{
   color: var(--Ptext-color)
}
.greenBox{
    border: 1px solid green;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.completed{
    background-color: rgba(79, 250, 60, 0.929);
}
.darkmode{
    --main-color: black;
    --btn-color:   black;
    --text-color: white;
    --Ptext-color: rgba(255, 255, 255, 0.91);
    
}
.yt-img{
    width: 20px;
    height: 20px;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.progressbar{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color:rgb(118, 255, 5)
    
}
@media (max-width: 1300px){
    .welcome-text {
        position: absolute;
        top: 35px;
      left: 140px;
     
     
      font-weight: 600;
    }
   .quote{
    margin-right: 80px;
   }

}
@media (max-width: 1100px){
    .welcome-text {
        position: absolute;
        top: 35px;
      left: 100px;
     
     
      font-weight: 600;
    }
   .quote{
    margin-right: 120px;
   }
}
@media (max-width: 760px){
    h1{
        font-size: 35px;
    }
    p{
        font-size: 16px;
    }
    .welcome-text{
        position: absolute;
        top: 35px;
      left: 80px;
     
     
      font-weight: 600;
    }
}
@media (max-width: 480px){
    h1{
        font-size: 30px;
    }
    p{
        font-size: 14px;
        
    }
    .welcome-text{
        position: absolute;
        top: 35px;
      left: 55px;
     
     
      font-weight: 600;
    }
    .welcome{
        margin-left: 60px;
    }
    .Q-container{
        margin-left: 60px;
    }
    .quote{
        margin-left: 40px;
       }
       .heading{
        margin-left: 60px;
       }
}
@media (max-width: 350px){
    h1{
        font-size: 26px;
    }
    p{
        font-size: 12px;
        
    }
    .welcome-text{
        position: absolute;
        top: 30px;
      left: 40px;
     
     
      font-weight: 600;
    }
}